<!DOCTYPE html>
<html>
	<head>
		<title>Inventory</title>
	</head>
	
	<style>
	
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
}
	
	
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
}
	</style>
	
	
	<body>
	
		<h1>Inventory</h1>
		
		<table>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Code</th>
			<th>Price</th>
		</tr>
		{%for x in inventory%}
		<tr>
			<th>{{x.itemName}}</th>
			<th>{{x.quantity}}</th>
			<th>{{x.productCode}}</th>
			<th>${{x.productPrice}}.00</th>
		</tr>
		{%endfor%}
		
		</table>
		
		<br>
		<br>
		
		<a href = "{%url 'home'%}">Return to Home</a>
		
	</body>
</html>